.quiz0-screen {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  min-height: calc(100vh - 40px);
  justify-content: space-between;
}

.quiz0-screen > :last-child {
  margin-top: auto;
  margin-bottom: 10vh;
}

.quiz0-screen__text {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.3;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.quiz0-screen__highlight {
  color: #FF4288;
}

